@font-face {
    font-family: "Ahamono";
    src: url("../fonts/AHAMONO-Regular.otf");
    font-weight: 300;
}

@font-face {
    font-family: "Now";
    src: url("../fonts/Now-Medium.otf");
    font-weight: 400;
}

@font-face {
    font-family: "Now";
    src: url("../fonts/Now-Regular.otf");
    font-weight: 300;
}

:root { /* Variables */

    /* Fonts */
    --font-family-now:           "Now", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-family-ahamono:       "Ahamono", "Courier New", Courier, monospace;
    --font-family-helvetica:     "Helvetica Neue", Helvetica, sans-serif;
    /* End Fonts */

    /* Text colors */
    --text-default-color:        #0F0E12;
    --text-project-color:        #59D8FF;
    --text-placeholder-color:    #6D6D6D;
    --text-inputfield-color:     #EA6B00;
    /* End Text colors */

    /* Background colors */
    --background-default-color:  #CCD0DA;
    --background-timer-color:    #FAF8FB;
    /* End Background colors */

    /* Border colors */
    --border-button-default-color:       #71D766;
    --border-button-secondary-color:     #EA6B00;
    --border-inputfield-color:           #EA6B00;
    /* End Border colors */

    /* z-indexes */
    --z-index-1: 100;
    --z-index-2: 200;
    /* End z-indexes */

    /* Font scale */
    --fontScale-one-down: 0.666rem;
    --fontScale-default: 1rem;
    --fontScale-one-Up: 1.5rem;
    /* End font scale */

    /* Ideas */
    /* Organize variables by the modules they're associated with? */
    /* --text-timer-highlight-color */
    /* --background-timer-highlight-color */
    /* --text-calendar-notToday-color */

    /* A chemistry metaphor might work well here? */
    /* --atom-molecule-modifier-reaction */
}


html {
    font-size: 17px; /* With a font ratio of 1.5 */
}

body {

    background-color: var(--background-default-color);

    width: 100%;

    font-family: var(--font-family-ahamono);
    color: var(--text-default-color);

    line-height: 1.4;
    font-size: 100%;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Placeholders */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #6D6D6D;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #6D6D6D;
   opacity:  1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #6D6D6D;
   opacity:  1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #6D6D6D;
}

:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color: #6D6D6D;
}
/* End Placeholder */

/* Defaults */
a {
    text-decoration: none;
}

label {
    display: block;
}
/* End Defaults */

/* Header */

header {
    margin-top: 3rem;

    padding-left: 1rem;
    padding-right: 1rem;
}

.logo {
    color: var(--text-default-color);
}

/* End Header */

/* Button */

.Button {
    display: block;
    border-bottom: 1px solid var(--border-button-default-color);
    text-transform: lowercase;
    padding-bottom: 0.19753rem;
    color: var(--text-default-color);
}

.Button.Button--secondary {
    border-bottom: 1px solid var(--border-button-secondary-color);
}
/* End Button */

/* Screen */
.Screen > .Button {
    display: inline-block;
}
/* End Screen */

/* Timer */
.Timers,
.Message,
.Screen > .Button,
.Form {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2.25rem;
}

.Timers > .Timer + .Timer {
    margin-top: 1.5rem;
}

.Timer {
    padding: 1.5rem 1rem;
    overflow: hidden;
    background-color: var(--background-timer-color);
}

.Timer-name {
    float: left;
    text-transform: lowercase;
    color: var(--text-default-color);
}

.Timer > .Button {
    float: right;
    margin-right: 1rem;
}

.Timer > .Button.Button--secondary {
    margin-right: 0;
}

/* End Timer */

/* Form */

.Form > .InputField + .InputField {
    margin-top: var(--fontScale-default);
}

.InputField {
    border-bottom: 1px solid var(--border-inputfield-color);
}

.InputField > input {
    display: block;
    width: 100%;
    background: none;
    border: none;

    padding-top: var(--fontScale-one-down);
    padding-bottom: var(--fontScale-one-down);
}

.InputField-label {
    display: block;
    font-size: var(--fontScale-one-down);
    color: var(--text-inputfield-color);
}
/* End Form */

/* Start Feedback */
.Feedback {
    margin-top: 1rem;
}

.Feedback--content {
    background: none;
    border: none;
    resize: none;

    width: 100%;

    padding: 1.16rem 1rem;

    background-color: #373737;

}

.Feedback--submit {
    margin-top: 1.5rem;
}
/* End Feedback */

/* Btn */
.btn {
    background: none;
    border: none;

    background-color: #5E69FF;

    text-align: center;

    font-family: var(--font-family-helvetica);
    font-weight: 300;

    padding: 0.45rem 0.66666rem;
}

.btn.btn-select {
    margin-left: 1rem;
    margin-right: 1rem;
}

.btn.btn-select > * {
    display: inline-block;
}
/* End Btn */

/* Selector */
.Selector {
    position: relative;
}

.Selector.Selector-btn {
    background-color: #4753FB;

    padding-left: 0.444rem;
    padding-right: 0.444rem;
}

.Selector::after {
    content: " ";
    display: inline-block;

    width: 0;
    height: 0;

    border-left: 0.666rem solid transparent;
    border-right: 0.666rem solid transparent;
    border-top: 0.666rem solid var(--text-default-color);
}

/* TOFIX: The arrow appears a bit lower than it should. It should be in the middle. */
.Selector.Selector-btn::after {
    border-left: 0.3rem solid transparent;
    border-right: 0.3rem solid transparent;
    border-top: 0.3rem solid var(--text-default-color);
}

.Selector--select {

    background: none;
    opacity: 0;
    border: none;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    font-size: 1rem;

    z-index: var(--z-index-1);
}
/* End Selector */

/* Calendar */
.Calendar {
    margin-top: 2.5rem;
}

.Calendar--selector {
    font-family: var(--font-family-now);
    font-weight: 400;
    font-size: 2.25rem;

    padding-left: 1rem;
    padding-right: 1rem;
}
/* End Calendar */

/* CalendarView (the actual calendar blocks) */

.CalendarView {
    border-top: 1px solid #2B2B2B;
}

.CalendarView--row {
    overflow: hidden;
    clear: both;

    width: 100%;

    border-bottom: 1px solid #2B2B2B;

}

.CalendarView--day {

    width: 14.2857%;
    width: calc(100% / 7);
    height: 44px; /* This is temporary */

    float: left;

    position: relative;
    overflow: hidden;

    background-color: #373737;
    border-right: 1px solid #2B2B2B;
}

.CalendarView--day.CalendarView--day-notMonth {
    background-color: #484747; /* TODO: I'm not satisfied with this color. */
}

.CalendarView--day:last-child {
    border-right: none;
}

.CalendarView--dayNumber {

    font-family: var(--font-family-now);
    font-size: 0.666rem;
    font-weight: 300;

    float: right;
}
/* End CalendarView */

/* Stats */
.Stats.Stats-month {
    padding-left: 1rem;
    padding-right: 1rem;
}

.Stats--entry {
    color: var(--text-project-color);
    font-family: var(--font-family-now);
    font-weight: 300;
}

.Stats--entryContent {
    color: var(--text-default-color);
}

/* End Stats */

/* Day */
.Day--selectedDay {
    font-family: var(--font-family-now);
    font-size: 1.5rem;
}

.DayEntries {
    display: flex;
}

.DayEntry {

    flex: 1 1 auto;

    background-color: #373737;
}
/* End Day */